@{
    @model List<UserActivity>
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   
   
@*
    @foreach (var myModels in Model)
    {
        <div>@myModels.IpAddress</div>
      
        <div>@myModels.Data</div>
        
    }*@
   
</div>

